.accounts-background{
 background: #f1f1f1;
 min-height: 100vh;
}

.border-shadow{
    -webkit-box-shadow: 3px 3px 5px 6px #e6e6e6;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #e6e6e6;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #e6e6e6;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  background: #fff;
}

.container h2{
    color: #c30030;
    border-bottom: 1px solid #e6e6e6;
}

.account-line:nth-child(odd){
    background: #f1f1f1;
}

.balance{
    border-top: 1px solid #e6e6e6;
}

.balance strong{
    font-size: 16px;
}

.btn{
    border: 2px solid #e4e4e4;
}

.btn-success{
    border: 0px;
}

.error-response{
    background: #ad000047;
    border-left: 5px solid #ad0000;
}