<div class="accounts-background py-5">

    <div class="container mt-5 border-shadow">

        <h2 class="py-3">Account List</h2>

        <div class="row">
            <div class="col-12 col-md-3 col-lg-3 py-3">
                <strong>Account Number</strong>
            </div>
            <div class="col-12 col-md-3 col-lg-3 py-3">
                <strong>Account Type</strong>
            </div>
            <div class="col-12 col-md-3 col-lg-3 py-3">
                <strong>Account Balance</strong>
            </div>


        </div>


        <div *ngFor="let account of accounts ; let a = index" class="row account-line">
            <div class="col-12 col-md-3 col-lg-3 py-3">
                {{account.account_number}}
            </div>
            <div class="col-12 col-md-3 col-lg-3 py-3">
                {{account.account_type}}
            </div>
            <div class="col-12 col-md-3 col-lg-3 py-3">
                {{account.balance}}
            </div>
            <div class="col-12 col-md-3 col-lg-3 py-3" *ngIf="account.balance > 0">
                <button type="button" class="btn" [class.btn-success]="account.balance > 0" data-toggle="modal" data-target="#exampleModalLong" (click)="withdraw(account.account_number, account.account_type, account.balance)">Withdraw</button>
            </div>

            <div class="col-12 col-md-3 col-lg-3 py-3" *ngIf="account.balance < 0">
                <button type="button" class="btn" [class.btn-success]="account.balance > 0">Withdraw</button>
            </div>
        </div>



        <div class="row balance">
            <div class="col-12 col-md-3 col-lg-3 py-3">
                <strong>Balance</strong>
            </div>
            <div class="col-12 col-md-9 col-lg-9 py-3">
                <strong style="margin-left: 285px;">ZAR {{this.balance}}</strong>
            </div>

        </div>

    </div>

</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Account Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p><strong>Account Number: </strong>{{accountInformation?.account_number}}</p>
          <p><strong>Account Type: </strong>{{accountInformation?.account_type}}</p>
          <p><strong>Balance: </strong>ZAR {{accountInformation?.balance}}</p>
        </div>

        <div *ngIf="successfully_withdrew === false">
            <form *ngIf="proccessingPayment === false" class="px-3" [formGroup] = "withDrawForm">
                <div class="form-group">
                    <label >Enter Amount you want to withdraw</label>
                    <input type="text" class="form-control" placeholder="00.00" formControlName="amount" (keyup)="enteredAmount($event.target.value)">

                    <div class="error-response mt-3 p-2 " *ngIf="error_message" >Insufficient Funds</div>
                </div>
            </form>

            <div class="text-center mb-3" *ngIf="proccessingPayment === true">
                Processing<br/>
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </div>
        </div>
            
        
        <div class="text-center" *ngIf="successfully_withdrew === true">
            Success, please take your money ZAR{{amountWithdraw}}<br/>
            <i class="fa fa-money" style="font-size: 50px;" aria-hidden="true"></i>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-success" [disabled]="!withDrawForm.valid || error_message === true || successfully_withdrew === true || proccessingPayment === true" (click)="getAmountDrawn()">Proceed</button>
        </div>

      </div>
    </div>
  </div>
